<!--header-top-->
    <div class="header-top" id="home">
        <div class="container">
            <div class="head-main">
                <div class="col-md-4 head-left">
                    <ul>
                        <li><a href="#"><span class="fb"> </span></a></li>
                        <li><a href="#"><span class="twit"> </span></a></li>
                        <li><a href="#"><span class="pin"> </span></a></li>
                        <li><a href="#"><span class="rss"> </span></a></li>
                    </ul>
                </div>
                <div class="col-md-4 head-middle">
                    <h1><a href="index.html">Create <br> your CV</a></h1>
                </div>
                <div class="col-md-4 head-right">
                    <div id="sb-search" class="sb-search">
                        <form>
                            <input class="sb-search-input" placeholder="Search" type="search" name="search" id="search">
                            <input class="sb-search-submit" type="submit" value="">
                            <span class="sb-icon-search"> </span>
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--header-top-->