<!--navigation-starts-->
    <div class="navigation">
        <span class="menu"></span> 
            <ul class="navig cl-effect-16">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="gallery.html">Photo Gallery</a></li>
                <li><a href="typo.html">Short Codes</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
    </div>
<!--navigation-end-->